@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
}

a:link {
  text-decoration: none;
}

body {
  background-color: #0f0f0f;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.categoria {
  background-color: #0f0f0f;
  padding-top: 4%;
  color: white;
}

.categoria-lista {
  display: flex;
  overflow: hidden;
  background-color: #0f0f0f;
  
}

.categoria-lista img {
  height: 400px;
  transform: scale(0.9);
  transition: ease 0.2s;
  border-radius: 20px;
  cursor: pointer;
}

.categoria-lista img:hover {
  transform: scale(1);
}

.botao-lista {
  position: sticky;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  cursor: pointer;
}

.botao-lista:hover {
  background-color: rgba(0, 0, 0, 0.5);
  
}
.categoria-esquerda {
  left: 0;
}

.categoria-direita {
  right: 0;
}

.icone {
  transform: scale(0.9);
  transition: ease 0.2s;
}

.icone:hover {
  transform: scale(1.2);
}

.movie-img {
  width: 100vw;
  height: 100%;
}

.netflix-logo {
  width: 8vw;
}

.netflix-logo-login {
  margin-top: 1vw;
  margin-left: 1vw;
  width: 15vw;
  position: absolute;
}

#highlight-title {
  color: white;
  padding-top: 5vw;
  margin-left: 5vw;
  margin-right: 60vw;
}

#highlight-text {
  color: white;
  margin-left: 5vw;
  margin-right: 60vw;
}

#watch-button {
  margin-left: 5vw;
  background-color: red;
}

#watch-button:hover {
  background-color: rgb(190, 0, 0)
}

#highlight-box {
  margin-top: 3.5vw;
}

.login-textfield {
  background-color: gray;
  border-radius: 5px;
  width: 100%;
  margin-top: 1vw;
}

.movie-text {
  margin-top: 3.5vw;
  color: white;
  background-color: #0f0f0f;
  padding: 10px;
  text-align: justify;
}

.movie-title {
  margin-left: 2vw;
}

.movie-desc {
  margin-left: 2vw;
  margin-right: 20%;
}

.unavailable {
  position: fixed;
  width: 100%;
  background-color: #0f0f0f;
}

.list-title {
  margin-left: 1%;
}

html, #who-watch {
  background-color: #0f0f0f;
}

#choose-user {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%; 
}

.choose-user-name {
  text-align: center;
  margin-top: 3%;
}

#who-watch-title {
  text-align: center;
  margin-top: 10vw;
  margin-bottom: -10vw;
  color: white;
}

.who-watch-name {
  transform: scale(0.9);
  text-align: center;
  text-decoration: none ;
  color: white;
  margin-top: 10px;
}

.who-watch-name:hover {
  transform: scale(1);
  transition: ease 0.2s;
}

.who-watch-img {
  transform: scale(0.9);
  border-radius: 10px;
}

.who-watch-img:hover{
  transform: scale(1);
  transition: ease 0.2s;
}